/* -------- GLOBAL STYLING ------- */

* {
    /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    font-family: "Roboto Mono", monospace;
    /* border: solid black 1px; */
    margin: 0;
    padding: 0;
}

:root {
    --main-color-blue:  #4BA3C3;
    --main-color-bg: #FFFBFE;
    --main-color-dark-blue: #373F51;
    --main-color-orange: #F25F5C;
    --main-color-dark-orange: #a83a39;
    --main-color-grey: #4a4a4a;
}

body{
    background: var(--main-color-bg);
}

p {
    line-height: 1.2;
}

a {
    text-decoration: none;
    color: var(--main-color-blue);
}

a:hover {
    color: var(--main-color-orange);
}

a:active {
    color: var(--main-color-dark-orange);
}


/* -------- NAVIGATION BAR STYLING ------- */

.navbar.flex-container {
    display: flex;
}

.navbar {
    background: var(--main-color-bg);
    padding: 20px 20%;
    margin: 0;
}

.nav-item {
    list-style-type: none;
    font-size: 1.25rem;
    border: solid 2px var(--main-color-blue);
    margin: 0px 30px 0px 0px;
    border-radius: 20px;
    width: 120px;
    color: var(--main-color-blue);
    padding: 2px 5px;
    text-align: center;
}

.navbar a {
    text-decoration: none;
    margin: auto;
    color: inherit;
}

.nav-item:hover {
    text-decoration: none;
    color: var(--main-color-orange);
    border: solid 2px var(--main-color-orange); 
}


/* -------- HOME PAGE STYLING ------- */

main.flex-container{
    /* border: solid black 1px; */
    display: flex;
    /* width: 100%; */
}

.homepage {
    /* border: var(--main-color-blue) solid 1px; */
    color: var(--main-color-orange);
    padding: 50px 0px 50px 20%;
}

.intro, .photo{
    width: 50%;
    overflow: hidden;
}

.homepage img{
    /* width: 100%;
    height: auto; */
}

.homepage p {
    font-size: 1.5rem;
}

.homepage h1 {
    font-size: 5rem;
    margin: 0;
}

/* -------- ABOUT ME STYLING ------- */
.about-me-section{
    padding: 20px 10%; 
}

/* -------- FOOTER STYLING ------- */

.footer {
    position: fixed;
    background: var(--main-color-blue);
    color: var(--main-color-bg);
    margin: 0;
    width: 100%;
    bottom: 0;
}

.link-item{
    padding: 20px 20px;
}

.flex-container.links {
    display: flex;
    flex-direction: row-reverse;
    margin-right: 100px;
}

.footer a{
    color: var(--main-color-bg);
}

.footer a:hover{
    color: var(--main-color-orange);
}


/* -------- PROJECT STYLING ------- */
.project-section{
    padding: 100px 0px;
}

.project.flex-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

h2 {
    /* text-align: center; */
    margin-left: 15%;
    font-size: 3rem;
    color: var(--main-color-orange);
}

h3 {
    font-size: 2rem;
    color: var(--main-color-orange);
    padding: 5px 0;
    font-weight: 300;
}

h4 {
    font-weight: 300;
    color: var(--main-color-grey);
}

.project-section date{
    text-align: right;
}

.project-section h5{
    color: var(--main-color-orange);
    font-weight: 300;
    font-size: 1.15rem;
    font-style: normal;
}

.project-section img{
    width: 100%;
    height: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.project {
    padding: 20px 10%;
}

.project-image, .project-desc{
    padding: 10px;
    width: 50%;
}
  
.project-image{
    vertical-align: middle;
}